/* 黑色主题 */
html[data-theme="black"] {
    --main-color: #7F9FCA;
    --left-menu-color: #425E8C;
    --text-color: #eaedf2;
    --active-text-color: #95C4E7;
    --logout-color: #daafbd;
    --checked-color: #faf8f4;
    --nochecked-color: #e9f3ea;
    .el-button--primary {
        background-color: #868c9c;
        border-color: #868c9c;
    }
    .el-button--text {
        color: #90A796;
        font-weight: 600;
    }
    .el-button--danger {
        background-color: #b55a65;
        border-color: #b55a65;
    }
    .el-button--success {
        background-color: #90A796;
        border-color: #90A796;
    }
    .el-dropdown-menu {
        background-color: #7F9FCA;
    }
    .el-dropdown-menu__item:hover{
        background-color:#e0e5ed;
    }
    .el-pagination__total{
        color: #7F9FCA;
    }
    .el-pager .number:hover, .el-pager .number:active{
        color: #7F9FCA;
    }
    .el-pager .number{
        color: #7F9FCA;
    }
    .btn-prev:hover{
         color: #7F9FCA;
     }
    .btn-next:hover{
        color: #7F9FCA;
    }
    .el-pagination__jump{
        color: #7F9FCA;
    }
    .el-select-dropdown__item.selected{
        color: #7F9FCA;
    }
    .el-tabs__item.is-active, .el-tabs__item:hover{
        color: #7F9FCA;
    }
    .el-tabs__active-bar{
        background-color: #7F9FCA;
    }

}
/* 蓝色主题 */
html[data-theme="blue"] {
    --main-color: #0000ff;
    --left-menu-color: #4c4cff;
    
}
/* 绿色主题 */
html[data-theme="green"] {
    --main-color: #358f09;
    --left-menu-color: #67c23a;
    
}

/* 红色主题 */
html[data-theme="red"] {
    --main-color: #fa3f3f;
    --left-menu-color: #F56C6C;
    
}